.plant-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #1e1e1e; /* Dark background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #e0e0e0; /* Light text color */
  }
  
  .plant-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #333; /* Border to match dark mode */
  }
  
  .plant-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .plant-name {
    font-size: 2em;
    color: #54ac77; /* Accent color */
  }
  
  .plant-description,
  .plant-more-details {
    font-size: 1.2em;
    color: #e0e0e0; /* Light text color */
    margin-top: 10px;
    line-height: 1.6;
  }
  